@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;

  font-family: 'Ubuntu', sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 36rem;
  height: auto;
  background-color: transparent;
}

.signup-modal {
  width: 30rem;
  height: auto; 
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 8px;
}

.signup-header {
  width: 100%;
  height: 4rem;
  top: 0;
  text-align: center;
}
.signup-header h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

.signup-body {
  width: 100%;
  height: auto;
}

.signup-submit {
  width: 100%;
  height: 10rem;
  /* background-color:cadetblue; */
}

.form-group {
  width: 100%;
  margin: 6% 0;
}

label {
  font-size: 13px;
  color: gray;
  outline: none;
}

input[type='checkbox'] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 10px;
}

input[type='checkbox']:focus {
  background-color:goldenrod;
  border-color:orange;
  border-width: 1.2px;
}

input[type='text'], input[type='password'], input[type='email'] {
  margin-top: 3%;
  padding-left: 5%;
  width: 95%;
  max-width: 100%;
  height: 5vh;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-width: 1px;
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgb(100, 178, 255);
}

button[type='submit'] {
  width: 100%;
  height: 7vh;
  box-shadow: rgba(255, 255, 255, 0.3) 0 2px 0 0 inset;
  border-width: 1px;
  border-color: dodgerblue;
  border-style: solid;
  border-radius: 6px;
  background-color:dodgerblue;  
  display: inline-block;

  color: white;
  font-size: 18px;
  font-weight: 300;
}

button:focus {
  background-color:rgb(0, 97, 194);
}

.agreement {
  margin-bottom: 1.6rem;
}