<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

<body>

  <div class="background">
    <div class="container">
      <div class="signup signup-modal">
        <div class="signup signup-header">
            <h1>Creating Account</h1>
        </div>
        <div class="signup signup-body">
          <form method="POST">   
              {{form.csrf_token}}
              <div class="form-group">
                  {{form.userid.label("Display Name")}}
                  {{form.userid(class="form-control", autocomplete="off")}}
                  <span class='dname-info'>Between 4-16 Letters. No special letters allowed.</span>
              </div>
              <div class="form-group">
                  {{form.username.label("Full Name")}}
                  {{form.username(class="form-control", autocomplete="off")}}
              </div>
              <div class="form-group">
                  {{form.password.label("Password")}}
                  {{form.password (id='password', class="form-control")}}
                  <div class='pw-meter'>
                    <div class='pw-meter-header'>
                      <div class='pw-meter-bar-bg'>
                        <div class='pw-meter-bar'></div>
                      </div>
                      <span class='pw-meter-text'></span>
                    </div>
                    <span class='pw-meter-info'>Your Password must contain more than 1 capital letter, 1 special letter, 1 number,
                      and must between 8-24 letters.
                    </span>
                  </div>
              </div>
              <div class="form-group">
                  {{form.email.label("Email")}}
                  {{form.email  (id='email', class="form-control")}}
                  <span class='email-info'></span>
              </div>
              <div class='form-group'>
                  {{form.birth.label("Date of Birth")}}
                  {{form.birth (id='birth', class='form-control')}}
                  <span class="birth-info">Special Treat is waiting for you on your birthday!</span>
              </div>
              <div class='signup signup-submit'>
                <div class='agreement'>
                  <input type='checkbox' class='checkbox' id='checkbox' />
                  <label class='checkbox-label' for='checkbox'>If you submit your personal information, You agree with our Terms of service.</label>
                </div>
                <button type="submit" class="btn btn-submit" id='submit' status='unfilled'>Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/script.js') }}"></script>



</body>
</html>