<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

<body>
  <div class="background">
    <div class="container">
      <div class="signup signup-modal">
        <div class="signup signup-header">
            <h1>Sign Up</h1>
        </div>
        <div class="signup signup-body">
                <form method="POST" >   <!--엑션 삭제해야됌--> 
                    {{form.csrf_token}}
                    <div class="form-group">
                        <!-- <label for="userid">아이디</label>
                        <input type="text" class="form-control" id="userid" placeholder="아이디" name="userid" /> -->
                        {{form.userid.label("First Name")}}
                        {{form.userid(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <!-- <label for="username">이름</label>
                        <input type="text" class="form-control" id="username" placeholder="사용자이름" name="username" /> -->
                        {{form.username.label("Last Name")}}
                        {{form.username(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <!-- <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password" /> -->
                        {{form.password.label("Password")}}
                        {{form.password(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <!-- <label for="re-password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="re_password" placeholder="비밀번호 확인" name="re-password" /> -->
                        {{form.email.label("Email")}}
                        {{form.email  (class="form-control")}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>